ios/build
ios/framework
ios/react-native-synerise-sdk.debug.podspec
ios/react-native-synerise-sdk.release.podspec
ios/build_framework.sh

android/build
android/gradle
android/gradlew
android/gradlew.bat
android/publish.gradle

node_modules
src
tsconfig.json
tslint.json
.prettierrc
.gitignore
.gitattributes
.github
.idea
.vscode